mux-player {
  /* Hide all controls at once */
  --controls: none;
  --media-object-fit: cover;
  --media-object-position: center;
}
/* mux-player::part(layer) {
  background-color: white;
} */

.AccordionContent[data-state='open'] {
  animation: slideDown 600ms cubic-bezier(0.62, 0.05, 0.01, 0.99);
}
.AccordionContent[data-state='closed'] {
  animation: slideUp 600ms cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

.accordionItem[data-state='open'].topAccordion {
  border-top-color: #d9d5d3 !important;
}

.accordion
/* Hide all scrollbars */
html::-webkit-scrollbar {
  display: none;
}

html {
  scrollbar-width: none;
}
html,
body {
  background-color: #f7f7f7 !important;
}
/* For Firefox */
:root {
  background: #f7f7f7 !important;
}
@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.AccordionContentDesktop[data-state='open'] {
  animation: slideHorizontal 600ms cubic-bezier(0.62, 0.05, 0.01, 0.99);
}
.AccordionContentDesktop[data-state='closed'] {
  animation: slideBack 600ms cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

.AccordionContentDesktop[data-state='closed'] .theContent {
  animation: fadeOut 300ms;
}
.AccordionContentDesktop[data-state='open'] .theContent {
  animation: fadeIn 330ms linear 650ms;
}

@keyframes slideHorizontal {
  from {
    width: 0;
  }
  to {
    width: 307px;
  }
}

@keyframes slideBack {
  from {
    width: 307px;
  }
  to {
    width: 0;
  }
}

.AccordionContent,
.AccordionContentDesktop {
  overflow: hidden;
}

.accordionButton .lowerLine {
  transition: transform 0.6s cubic-bezier(0.62, 0.05, 0.01, 0.99);
}

.accordionButton[data-state='open'] .lowerLine {
  transform: rotate(0deg) translateY(-50%) translateX(-50%) !important;
}

.accordionButton[data-state='open'] .content {
  opacity: 0;
}

.accordionButton[data-state='open'] .sides {
  opacity: 1;
}

.accordionItem[data-state='open'] {
  border-radius: 2px;
}

.accordionItem .contentOverlay {
  transition: opacity 0.2s;
}

.accordionItem[data-state='open'] .contentOverlay {
  opacity: 1;
  transition-delay: 300ms;
}

.accordionItem[data-state='closed'] .contentOverlay {
  opacity: 0;
  transition-delay: 0ms;
}

.accordionItem[data-state='open'] .triggerLabel {
  opacity: 0;
}
.verticalText {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.accordionButton[data-state='open'] .content {
  opacity: 0;
}

.accordionButton[data-state='open'] .sides {
  opacity: 1;
}

/* --------------------  Portable Text */

.portableText h2 {
  line-height: 42px;
  font-size: 36px;
  font-family: 'Geist-Medium', monospace;
  margin-bottom: 32px;
}

.portableText p {
  font-size: 18px;
  line-height: 25.2px;
  font-family: 'Geist', sans-serif;
}

.portableText ul {
  font-size: 18px;
  line-height: 25.2px;
  font-family: 'Geist', sans-serif;
}

.portableText li,
.portableCaseStudy li {
  list-style-type: disc;
  margin-left: 20px;
  font-family: 'Geist', sans-serif;
}

.portableText h3 {
  color: #ff4800;
  font-size: 18px;
  line-height: 27px;
  font-family: Geist-Medium;
  margin-bottom: 12px;
}

.portableText a {
  text-decoration: underline;
}
@media (min-width: 1024px) {
  .portableText p,
  .portableText li {
    font-size: 20px;
    line-height: 36px;
  }

  .portableText h3 {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
  }
}

.isHovering {
  opacity: 1;
  scale: 1 !important;
  clip-path: inset(0 0 0 0) !important;
}

.arrowTransition {
  transition: transform 0.35s cubic-bezier(0.34, 0, 0.36, 1) 0.3s;
}
.animateFlicker {
  opacity: 0;
  transition: opacity 0.15s;
}

.hoverParent:hover .hoverInteraction {
  animation: flicker 0.15s;
}
@keyframes flicker {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hoverButton:hover .hoverArrowButton {
  transform: translateX(2px);
}

.hoverButton:hover .hoverButtonText {
  transform: translateX(-4px);
}
.buttonTransiton {
  transition:
    transform 0.35s cubic-bezier(0.34, 0, 0.36, 1),
    background-color 0.35s cubic-bezier(0.4, 0, 1, 1);
}

html {
  overflow-x: hidden;
}

.topLine.open {
  transform: translateY(4px) rotate(-45deg);
}

.bottomLine.open {
  width: 100%;
  transform: translateY(-2px) rotate(45deg);
}

.backContainer:hover .backHover {
  transform: translateX(-20px);
}

html,
body {
  background: #f7f7f7 !important;
}

.hoverButton:hover .hoverTextAccent {
  background: #ee4300;
}

.svgContainer svg {
  width: 100%;
}

.svgContainer {
  width: 27%;
  /* width: 30%; */
}

@media (min-width: 768px) {
  .svgContainer svg {
    width: unset;
  }

  .svgContainer {
    width: unset;
    /* width: 30%; */
  }
}

.fixSafariIsTrashIssue {
  -webkit-backface-visibility: visible;
}

.heroText strong {
  font-weight: 400;
  color: #292626;
}

.pixelImage {
  image-rendering: pixelated;
}

.portableHero strong {
  font-weight: 400;
  color: #2b2a29;
}
