@font-face {
  font-family: 'Geist-Medium';
  src: url('/fonts/Geist-Medium.otf');
  font-weight: normal;
  font-style: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist-Regular.otf');
  font-weight: normal;
  font-style: 400;
  font-display: swap;

  font-display: swap;
}

@font-face {
  font-family: 'Semi-Mono';
  src: url('/fonts/ABCDiatypeSemi-Mono-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: 400;
  font-display: swap;

  font-display: swap;
}

@font-face {
  font-family: 'Semi-Mono-Medium';
  src: url('/fonts/ABCDiatypeSemi-Mono-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: 500;
  font-display: swap;

  font-display: swap;
}

.mono {
  font-family: 'Semi-Mono', monospace;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.monoMedium {
  font-family: 'Semi-Mono-Medium', monospace;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'ss07', 'ss09', 'ss11';
}

.geist {
  font-family: 'Geist', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

.geistMedium {
  font-family: 'Geist-Medium', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}
